<ion-header>
  <ion-navbar color="template">
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title >Organic Veg</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="content-center">
  <ion-list>
  <ion-item>  
    <ion-label floating><ion-icon name="phone-portrait"></ion-icon>&nbsp;&nbsp;
    Mobile Number</ion-label>
    <ion-input type="number" [(ngModel)]="mobile"></ion-input>
  </ion-item>
  <ion-item>  
    <ion-label floating><ion-icon name="lock"></ion-icon>&nbsp;&nbsp; Password</ion-label>
    <ion-input type="password" *ngIf="!visiblePassword" [(ngModel)]="mobile"></ion-input>
    <ion-input type="text" *ngIf="visiblePassword" [(ngModel)]="mobile"></ion-input>
  </ion-item>
  <ion-icon  class="showpassword" *ngIf="!visiblePassword" name="eye" (click)="showPassword()">
  </ion-icon>
  <ion-icon  class="showpassword" *ngIf="visiblePassword" name="eye-off" (click)="hidePassword()">
  </ion-icon>
  </ion-list>
  
  <button round ="true" ion-button block color="template" padding>Sign in</button>

<div class="center" style="margin-top:30px">
  <button ion-button outline  color="template" (click)="openPage('signup')">Create a New Account</button>
</div>  
</ion-content>
