.showpassword{
position: relative;
right:0.7em;
bottom: 2em;
float:right;
}

.template-background{
	background : #84C225 !important;
	border-color :	#84C225 !important;	
}

.template{
	color:#84C225;
}

.content-center{
	width:90%;
	margin:20px;
}

.center{
	text-align:center;
}

.social-login{
	bottom: 0.3em;
    position: relative;
    margin-left: 10px;
}