<ion-menu [content]="mycontent">

    <ion-content>
        <div class="center" style="margin-top: 10px">
        <img height="100px"  width="100px" src="assets/icon/avatar.png"/>
        <p>Avatar</p>
        </div>
        <hr/>
        <span style="margin-left: 10px;margin-top:10px">
            <ion-icon ios="ios-home" md="md-home" menuClose (click)="openPage('signin')"> 
            <span style="margin-left: 10px"> Home</span>
            </ion-icon>
        </span>

    </ion-content>
</ion-menu>

<ion-nav #mycontent [root]="rootPage" swipeBackEnabled="false"></ion-nav>
