<ion-header>
  <ion-navbar color="template">
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title >Organic Veg</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="content-center">
  <ion-list>
  <ion-item>  
    <ion-label floating><ion-icon name="phone-portrait"></ion-icon>&nbsp;&nbsp;
    Mobile Number</ion-label>
    <ion-input type="number" [(ngModel)]="mobile"></ion-input>
  </ion-item>
    <ion-item>  
    <ion-label floating>  <ion-icon name="man"></ion-icon>&nbsp;&nbsp;
    Name</ion-label>
    <ion-input type="text" [(ngModel)]="name"></ion-input>
  </ion-item>
  <ion-item>  
    <ion-label floating>    <ion-icon name="mail"></ion-icon>&nbsp;&nbsp;
    Mail</ion-label>
    <ion-input type="text" [(ngModel)]="mail"></ion-input>
  </ion-item>
    <ion-item>  
    <ion-label floating><ion-icon name="lock"></ion-icon>&nbsp;&nbsp; Password</ion-label>
    <ion-input type="password" *ngIf="!visiblePassword" [(ngModel)]="mobile"></ion-input>
    <ion-input type="text" *ngIf="visiblePassword" [(ngModel)]="mobile"></ion-input>
  </ion-item>
  <ion-icon  class="showpassword" *ngIf="!visiblePassword" name="eye" (click)="showPassword()">
  </ion-icon>
  <ion-icon  class="showpassword" *ngIf="visiblePassword" name="eye-off" (click)="hidePassword()">
  </ion-icon>
  </ion-list>
   <button round ="true" ion-button block color="template" padding>SIGN UP</button>

<div class="center" style="margin:30px">
  <p class="template">Create account using </p>
  <div style="margin:10px">
    <span style="margin:10px" (click)="googleSignIn()">
        <ion-img width="10" height="10" src="assets/icon/google.png" 
        (click)="googleSignIn()"></ion-img><span class="social-login ">Google</span>
    </span>
    <span style="margin:10px" (click)="doFbLogin()">
        <ion-img width="25" height="25" src="assets/icon/facebook.png" (click)="doFbLogin()">
        </ion-img><span class="social-login">Facebook</span>    
    </span>
  </div>
</div>

<div class="center" style="margin-top:30px">
  <button ion-button outline  color="template" (click)="openPage('signin')">
  Already have an Account? Sign In
  </button>
</div>  

</ion-content>
